<!-- <p>Welcome {{name}}</p> -->
<!-- <input [(ngModel)]="name"/> -->
<!-- équivalent de : <input [ngModel]="name" (ngModelChange)="updateName($event)"/> -->
<!-- <button mat-raised-button [color]="btnColor" (click)="btnChangeColor()">Action btnChangeColor</button>
<button mat-raised-button color="accent" (click)="resetName()">Action resetName</button> -->
<!-- <app-list-items [listItem]="listItem" [favouriteIcon]="favouriteIcon"></app-list-items>
<app-list-items [listItem]="listItem2"></app-list-items>
<app-list-items [listItem]="listItem3"></app-list-items>
 -->

    <mat-drawer-container class="example-container">
   
        <mat-drawer mode="side" opened>
             <div id="list-title">List Title</div>             
             <div id="lists">
                 <button mat-button *ngFor="let todoList of todoListsArray"
                 [ngClass]="{'selected':todoList.id===selectedTodoList.id}"
                 (click)="selectTodoList(todoList)">{{todoList.name}}</button>
     <app-new-list-input (itemAdded)="onListAdded()"></app-new-list-input>
             </div>
         </mat-drawer>
         <mat-drawer-content>
             <div class="container" *ngIf="todoListsArray.length>0">
                 <app-new-todo-input [todoList]="selectedTodoList"></app-new-todo-input>
                 <app-todo-list [todoList]="selectedTodoList.todos"></app-todo-list>
             </div>
         </mat-drawer-content>
     </mat-drawer-container>

