<!-- <p>Welcome {{name}}</p> -->
<!-- <input [(ngModel)]="name"/> -->
<!-- équivalent de : <input [ngModel]="name" (ngModelChange)="updateName($event)"/> -->
<!-- <button mat-raised-button [color]="btnColor" (click)="btnChangeColor()">Action btnChangeColor</button>
<button mat-raised-button color="accent" (click)="resetName()">Action resetName</button> -->
<!-- <app-list-items [listItem]="listItem" [favouriteIcon]="favouriteIcon"></app-list-items>
<app-list-items [listItem]="listItem2"></app-list-items>
<app-list-items [listItem]="listItem3"></app-list-items>
 -->
<app-todo-list [toDoList]="toDoList"></app-todo-list>
<button mat-button (click)="logListItems()">Log ListItems</button>